{% extends "layout.html" %}
{% block title %}Smilee Corps{% endblock %}
{% block content %}
{% set things = [['<img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">', '<img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">', '<img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">', '<img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">', '<img src="https://www.w3schools.com/w3css/img_snowtops.jpg" style="width:100%">', ], ] %}
{% for thing in things %}
{# {% for html in thing %}
<div class="w3-quarter" style="display: inline-block;">
    {{ html|safe }}
</div>
{% endfor %} #}
{# <table class="hidescroll" style="display: block; overflow-x: auto; white-space: nowrap; clear: both;">
    <tr>
        {% for html in thing %}
        <td class="w3-quarter">{{ html|safe }}</td>
        {% endfor %}
    </tr>
</table> #}
<div class="hidescroll" style="overflow: auto; white-space: nowrap;">
    {% for html in thing %}
    <div style="display: inline-block;">{{ html|safe }}</div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
