<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>{% block title %}{% endblock %}</title>
    <body class="w3-black">
        <header class="w3-bar">
            {% set bar_item_class_left = "w3-bar-item w3-button w3-animate-opacity w3-left" %}
            {% set bar_item_class = "w3-bar-item w3-button w3-animate-opacity w3-right" %}
            <a class="{{ bar_item_class_left }}" href="#">Smilee Corps</a>
            <a class="{{ bar_item_class }}" href="#">Store</a>
            <a class="{{ bar_item_class }}" href="#">Services</a>
            <a class="{{ bar_item_class }}" href="#">Plans</a>
            <a class="{{ bar_item_class }}" href="#">About</a>
            <a class="{{ bar_item_class }}" href="/contact.html">Contact</a>
        </header>
        <div id="content" class="w3-container">
            {% block content %}{% endblock %}
        </div>
        <footer class="w3-container">
            <div class="w3-third">
        </footer>
    </body>
</html>
